<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="principal">
      <ion-icon name="home"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mealbd">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>TheMealBD</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="misRecetas">
      <ion-icon name="list"></ion-icon>
      <ion-label>Mis Recetas</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
