<ion-content>


  <!-- Spinner para cuando no hay recetas -->
  <ion-spinner *ngIf="recetas.length === 0" color="primary"></ion-spinner>

  <!-- Lista de recetas -->
  <ion-list>
    <ion-card *ngFor="let receta of recetas" class="recipe-card">
      <ion-card-header>
        <ion-card-title>{{ receta.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Id:</strong> {{ receta.id }}</p>
        <p><strong>Descripción:</strong> {{ receta.descripcion }}</p>
        <p><strong>Dificultad:</strong> {{ receta.dificultad }}</p>
        <p><strong>Tiempo de Preparación:</strong> {{ receta.tiempoPreparacion }} minutos</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Botones de acciones -->
  <div class="action-buttons">
    <!-- Botón de recarga -->
    <ion-button expand="block" color="tertiary" (click)="recargarRecetas()">
      <ion-icon name="refresh" slot="start"></ion-icon>
      Refrescar Recetas
    </ion-button>
    <ion-button expand="full" color="success" routerLink="/crear-receta">
      <ion-icon name="add" slot="start"></ion-icon> Agregar receta
    </ion-button>
    <ion-button expand="full" color="warning" routerLink="/update-recipe">
      <ion-icon name="create" slot="start"></ion-icon> Modificar receta
    </ion-button>
    <ion-button expand="full" color="danger" routerLink="/delete-recipe">
      <ion-icon name="trash" slot="start"></ion-icon> Eliminar receta
    </ion-button>
    <ion-button expand="full" color="medium" (click)="logoutUser()">
      <ion-icon name="log-out" slot="start"></ion-icon> Cerrar sesión
    </ion-button>
  </div>
</ion-content>