<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let receta of recetas">
      <ion-card-header>
        <ion-card-title>{{ receta.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Descripción:</strong> {{ receta.descripcion }}</p>
        <p><strong>Dificultad:</strong> {{ receta.dificultad }}</p>
        <p><strong>Tiempo de Preparación:</strong> {{ receta.tiempoPreparacion }} minutos</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-button expand="full" routerLink="/crear-receta">Agregar receta</ion-button>
  <ion-button expand="full" (click)="logoutUser()">Cerrar sesion</ion-button>
</ion-content>
