ion-content {
    --background: url('../../../../src/assets/img/img-comida2.avif') no-repeat center center / cover;
  }
  
  .container {
    padding: 16px;
  }
  
  .search-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .recipes-list {
    margin-top: 16px;
  }
  
  ion-grid {
    padding: 0;
  }
  
  ion-row {
    justify-content: center;
  }
  
  .recipe-card {
    text-align: center;
    max-width: 300px;
    /* Mantén un tamaño uniforme para todas las tarjetas */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
  }
  
  .recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  ion-card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  